<!DOCTYPE html>
<html th:lang="${#locale}" lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Notebook</title>
</head>
<body>
<div>
    <fieldset>

        <legend>Notebook application</legend>

        <label for="login">Please login or register your account</label>
        <div>
        <span id="login">
            <a th:href="@{/login}">
                <input type="submit" value="Login">
            </a>
        </span>
            <span>
            <a th:href="@{/register}">
                <input type="submit" value="Registration">
            </a>
        </span>
        </div>
    </fieldset>
</div>
</body>
</html>